{% extends "base.html.twig" %}
{% block body %}
    <div class="alert alert-light">
        <h1 class="alert-title">
            Résultat de la recherche
            <strong>{{ search }}</strong>
        </h1>
        <hr>
        <p>Rechercher un autre prduit</p>
        <form>
            <div class="row">
                <div class="col-10">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Votre recherche" name="search" value="{{ search }}">
                    </div>
                </div>
                <div class="col-2">
                    <button class="btn btn-primary">Rechercher</button>
                </div>
            </form>
        </div>
    </div>
    {% for product in resultats %}
        <div class="alert-secondary">
            <h2>
                {{ product.title }}
                {{ product.price }}
            </h2>
            <p>{{ product.introduction | markdown }}</p>
            <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-primary text-white">Plus d'infos</a>
            <a href="{{ path('cart_add', {'id': product.id}) }}" class="btn btn-success text-white">Ajouter au panier</a>
        </div>
    {% endfor %}
{% endblock %}
